BasedOnStyle: LLVM

Standard: c++11 #s
SortIncludes: false

IndentWidth: 4
TabWidth: 4
ColumnLimit: 104

Cpp11BracedListStyle: true
InsertBraces: true
BreakBeforeBraces: Attach

AlignConsecutiveAssignments:
  Enabled:         true
  AcrossEmptyLines: false
  AcrossComments:  false
  AlignCompound:   true
  PadOperators:    true
AlignConsecutiveBitFields:
  Enabled:         true
  AcrossEmptyLines: false
  AcrossComments:  false
  AlignCompound:   true
  PadOperators:    true
AlignConsecutiveDeclarations:
  Enabled:         true
  AcrossEmptyLines: false
  AcrossComments:  false
  AlignCompound:   true
  PadOperators:    true
AlignConsecutiveMacros:
  Enabled:         true
  AcrossEmptyLines: false
  AcrossComments:  false
  AlignCompound:   true
  PadOperators:    true

AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse

KeepEmptyLinesAtTheStartOfBlocks: false

QualifierAlignment: Custom
QualifierOrder: ["static", "inline", "const", "type"]

SpacesInContainerLiterals: false

